/* ---------------------------------------------- css reset ---------------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
ol,ul {
    list-style: none;
}
a {
    text-decoration: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before,q:after {
    content:'';
}
abbr,acronym {
    border:0;
}
legend {
    display: none;
}
.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: "020";
}
.clearfix {
    zoom: 1;
}
a:hover {
    -webkit-transition: background-color 150ms ease-in-out 0s;
       -moz-transition: background-color 150ms ease-in-out 0s;
        -ms-transition: background-color 150ms ease-in-out 0s;
         -o-transition: background-color 150ms ease-in-out 0s;
            transition: background-color 150ms ease-in-out 0s;
}

/* ---------------------------------------------- my blog ---------------------------------------------- */
html, body {
    overflow: hidden;
    height: 100%;
    font-family: "Microsoft YaHei";
}
.left {
    float: left;
    min-width: 300px;
    width: 22%;
    height: 100%;
    background-color: #5f6d7e;
    color: #fff;
}
.profile-image {
    overflow: hidden;
    margin: 50px auto 20px auto;
    width: 130px;
    height: 130px;
    border: 4px solid #fff;
    border-radius: 50%;
}
.profile-image img {
    width: 100%;
}
.profile-name {
    text-align: center;
    font-size: 21px;
}
.profile-desc {
    padding: 7px 0;
    text-align: center;
    font-size: 17px;
}
.hr {
    margin: 30px auto;
    min-width: 260px;
    width: 85%;
    height: 1px;
    background: #4B5867;
}
.classify li a {
    display: block;
    height: 60px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
}
.classify li a:hover {
    background-color: #495461;
}
.contact {
    margin: 0 auto;
    width: 214px;
}
.contact li {
    float: left;
    margin-left: 35px;
}
.contact li a {
    display: block;
    width: 48px;
    height: 48px;
    text-indent: -999em;
}
.contact .li-first {
    margin-left: 0;
}
.contact-weibo {
    background: url(../img/contact_sprite.png) no-repeat 0 0;
}
.contact-weibo:hover {
    background-position: -48px 0;
}
.contact-github {
    background: url(../img/contact_sprite.png) no-repeat 0 -48px;
}
.contact-github:hover {
    background: url(../img/contact_sprite.png) no-repeat -48px -48px;
}
.contact-gmail {
    background: url(../img/contact_sprite.png) no-repeat 0 -96px;
}
.contact-gmail:hover {
    background: url(../img/contact_sprite.png) no-repeat -48px -96px;
}
.right {
    position: relative;
    overflow-y: auto;
    height: 100%;
    background-color: #f7f7f7;
}
.banner {
    position: relative;
    display: none\9;
    padding: 262px 100px;
    background: url(../img/tree.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}
.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(95, 109, 126, 0.4);
}
.banner-text {
    position: relative;
    z-index: 3;
    overflow: hidden;
}
.banner-text h2 {
    letter-spacing: 4px;
    font-size: 40px;
}
.banner-text p {
    margin-top: 25px;
    font-size: 22px;
    line-height: 30px;
}
.article {
    overflow: hidden;
    margin: 50px auto;
    padding: 30px 4%;
    width: 84%;
    border-radius: 0.2em;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.article-title a {
    color: #205081;
    font-size: 40px;
    padding: 5px 0;
    line-height: 50px;
}
.article-title a:hover {
    border-bottom: 2px solid #205081;
}
.article-time {
    margin-top: 30px;
    color: #777;
    font-size: 18px;
}
.article-desc {
    margin-top: 35px;
    color: #666;
    font-size: 20px;
    line-height: 30px;
}
.pagination {
    margin: -15px auto 50px auto;
    width: 245px;
}
.previous, .next {
    display: block;
    width: 110px;
    height: 45px;
    background-color: #5f6d7e;
    float: left;
    text-align: center;
    line-height: 45px;
    font-size: 17px;
    color: #fff;
    border-radius: 3px;
}
.previous:hover, .next:hover {
    background-color: #495461;
}
.next {
    margin-left: 25px;
}
.previous-unable, .next-unable {
    background-color: #eee9e9;
    color: #333;
    cursor: default;
}
.previous-unable:hover, .next-unable:hover {
    background-color: #eee9e9;
}

/* ---------------------------------------------- 响应式 ---------------------------------------------- */
/* 平板 and i6横屏 */
@media screen and (max-width: 800px) {
    .banner {
        padding: 100px 50px;
    }
    .article {
        margin: 40px auto;
    }
    .profile-image, .profile-desc, .hr, .contact {
        display: none;
    }
    .left {
        float: none;
        width: 100%;
        height: auto;
    }
    .profile-name {
        height: 50px;
        line-height: 50px;
        text-align: left;
        text-indent: 30px;
    }
    .classify li {
        border-top: 1px solid #495461;
    }
    .menu {
        width: 35px;
        float: right;
        border: 1px solid #fff;
        border-radius: 3px;
        margin: 8px 20px 0 0;
        -webkit-transition: all 150ms ease-in-out 0s;
           -moz-transition: all 150ms ease-in-out 0s;
            -ms-transition: all 150ms ease-in-out 0s;
             -o-transition: all 150ms ease-in-out 0s;
                transition: all 150ms ease-in-out 0s;
    }
    .menu div {
        width: 25px;
        height: 2px;
        margin: 6px auto;
        background-color: #fff;
        -webkit-transition: all 150ms ease-in-out 0s;
           -moz-transition: all 150ms ease-in-out 0s;
            -ms-transition: all 150ms ease-in-out 0s;
             -o-transition: all 150ms ease-in-out 0s;
                transition: all 150ms ease-in-out 0s;
    }
    .menu:hover {
        background-color: #fff;
    }
    .menu:hover div {
        background-color: #495461;
    }
    .classify {
        height: 0;
    }
    .article-bottom {
        height: 50px;
    }
}
/* 手机竖屏 */
@media screen and (max-width: 568px) {
    .banner {
        display: none;
    }
    .article {
        margin: 25px auto;
        padding: 25px 4%;
    }
    .article-title a {
        font-size: 30px;
    }
    .article-time {
        font-size: 14px;
    }
    .article-desc {
        font-size: 17px;
        line-height: 23px;
        margin-top: 25px;
    }
}

/* 笔记本电脑 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .banner {
        padding: 140px 100px;
    }
}