html,
body {
  height: 100%;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #44a340;
  font-size: 14px;
}
  
a:hover {
  color: #fff;
  background: #44a340;
  text-decoration: none;
}

#logo {
  padding: 25px 50px;
}

#logo a {
  text-decoration: none;
}

#home {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -99px 0 0 -150px;
  width: 300px;
  text-align: center;
}

#home h1 {
  margin: 20px 0;
  color: #555;
  font-size: 16px;
}

#home a {
  margin: 0 10px;
  font-size: 14px;
}

.avatar {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  background: url("../img/avatar.png") no-repeat;
  background: -webkit-image-set(
    url("../img/avatar.png") 1x,
    url("../img/avatar@2x.png") 2x
  );
  border-radius: 50%;
}

#home .avatar a {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  background: none;
}

@media screen and (max-width: 736px) {
  #logo {
    padding: 25px 15px;
  }
}

@media only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi), only screen and (min-resolution: 2dppx) {
  a:hover {
    color: #44a340;
    background: none;
  }
}